<app-header>
  <app-navigation>
    <app-logo></app-logo>
    <app-button>LOGIN</app-button>
  </app-navigation>
  <app-form @input>
    <h3>FOLLOW TO SEE THROUGH THE EYES OF ROADSTER BEYOND THE HORIZON</h3>
    <app-input></app-input>
    <app-button>GET STARTED</app-button>
  </app-form>
  <app-header-cards>
    <app-card  [@card]="{value: '', params: {translate: 'translateX(300%)'}}" height="250px"></app-card>
    <app-card  [@card]="{value: '', params: {translate: 'translateX(150%)'}}" height="280px"></app-card>
    <app-card  [@card]="{value: '', params: {translate: 'translateX(0%)'}}" height="320px"></app-card>
    <app-card  [@card]="{value: '', params: {translate: 'translateX(-150%)'}}" height="280px"></app-card>
    <app-card  [@card]="{value: '', params: {translate: 'translateX(-300%)'}}" height="250px"></app-card>
  </app-header-cards>
</app-header>

<app-section>
  <app-section-card 
      [flip]="1" [order]="0"
      [appObserver]="'translateX(-30%)'"
      ></app-section-card>
</app-section>
<app-section>
  <app-section-card 
    [flip]="-1" [order]="1"
    [appObserver]="'translateX(30%)'"
    ></app-section-card>
</app-section>
<app-section>
  <app-section-card 
    [flip]="1" [order]="0"
    [appObserver]="'translateX(-30%)'"
    ></app-section-card>
</app-section>
<app-section>
  <app-section-card 
    [flip]="-1" [order]="1"
    [appObserver]="'translateX(30%)'"
    ></app-section-card>
</app-section>
<app-section>
  <app-section-card 
    [flip]="1" [order]="0"
    [appObserver]="'translateX(-30%)'"
    ></app-section-card>
</app-section>
  